{% extends "base.html" %}
{%block content%}
{% include "widgets/flash.html" %}
Accounts <br>
<table>
    <tbody>
{% for a in accounts %}
<tr>
    <td title="{{a.priority}}">{{ a.name }}</td>
    <td>{{ a.display_symbol() }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
New Account <br>
<form method="POST">
    <div class="row">
        <div class="two columns">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required><br>
        </div>
    <div class="two columns">
    <label for="currency">Currency<label>
    {% include "widgets/currency_selector.html" %}
        </div>
    </div>
    <label for="prio">Priority</label>
    <input type="text" name="priority" id="prio" value=0 required><br>
    <input type="submit">
</select>
</form>
{%endblock content%}
