{% extends "base.html" %}
{%block content%}
{% include "widgets/flash.html" %}
Envelopes <br>
    {% for (category, env) in envelopes %}
<table>
    <thead>
        <tr>
            <th> {{ category.name }} </td>
            {# Why doesn't this work? #}
            <th> {# {{ env.clone().into_iter().map(|e| e.value()).fold(0, |t, v| t + v) }} #}</th>
            <th> {# forms can't delete? <form action="/category/{{ category }}" method="DELETE"><input type="submit" name="Delete"></form> #}</th>
        </tr>
    </thead>
    <tbody>
{% for e in env %}
<tr>
    <td> {{ e.name }}</td>
    <td> {{ e.display_symbol() }}</td>
    <td> {# <a action="/envelopes/{{ e.name }}" method="DELETE"><input type="submit" name="Delete"></form> #}</td>
</tr> 
{% endfor %}
</table>
{% endfor %}
    </tbody>
</table>
New Envelope <br>
<form method="POST">
    <div class="row">
        <div class="two columns">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required><br>
        </div>
    <div class="two columns">
    <label for="currency">Currency<label>
    {% include "widgets/currency_selector.html" %}
        </div>
        <label for="cat">Category</label>
        <input type="text" name="category" id="cat" value="Uncategorized" required>
    </div>
    <input type="submit">
</select>
</form>
{%endblock content%}
