{% extends "base_no_login.html" %}
{%block content%}
{% include "widgets/flash.html" %}
Login <br>
<form method="POST">
    Email: <input type="text" name="email" required><br>
    Password: <input type="password" name="password" required><br>
    <input type="submit">
</select>
</form>
{%endblock content%}
