{% extends "base_no_login.html" %}
{%block content%}
{% include "widgets/flash.html" %}
Register <br>
<form method="POST">
    Name: <input type="text" name="name" required><br>
    Email: <input type="text" name="email" required><br>
    Password: <input type="password" name="password" required><br>
    Prefered Currency: {%include "widgets/currency_selector.html"%}
    Are you at least 13? <input name="atleast_13" type="checkbox" required><br>
    <input type="submit">
</select>
</form>
{%endblock content%}
