{% extends "base.html" %}
{%block content%}
{% include "widgets/flash.html" %}
New Transaction <br>
<form method="POST">
    <div class="row">
        <div class="two columns">
    <label for="acc">Account</label>
    <select id="acc" name="account" required>{% include "widgets/account_selector.html" %}</select>
        </div>
        <div class="two columns">
    <label for="env">Envelope</label>
    <select id="env" name="envelope" required>{% include "widgets/envelope_selector.html" %}</select>
        </div>
    </div>
    <div class=row>
        <div class="two columns">
    <label for="value">Value</label>
    <input id="value" type="number" name="value" required>
        </div>
        <div class="four columns">
    <label for="notes">Notes</label>
    <input type="text" id="notes" name="notes">
    </div>
        </div>
        <div class=row>
        <div class="two columns">
    <label for="date">Date</label>
    <input id="date" type="date" name="date" required>
        </div>
        <div class="one columns">
    <label for="inc">Income</label>
    <input id="inc" type="radio" name="income" value="Income">
        </div>
        <div class="one columns">
    <label for="exp">Expense</label>
    <input id="exp" type="radio" name="income" value="Expense" checked="checked">
        </div>
            </div>
        </div>
        </div>
    </div>
    <input type="submit">
</select>
</form>

<table>
    <thead>
        <th>Time</th>
        <th>Account</th>
        <th>Value</th>
        <th>Notes</th>
    </thead>
    <tbody>
{% for t in transactions %}
        <tr>
            <td> {{ t.tdate }} </td>
            <td> {{ t.account }} </td>
            <td> {{ t.value }} </td>
            <td> {{ t.notes }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    <script type="text/javascript">
window.addEventListener('load', function() {
    document.getElementById('date').valueAsDate = new Date();
})
    </script>

        
{%endblock content%}
