{% extends "base.html" %}
{%block content%}
{% include "widgets/flash.html" %}
Transfer Money <br>
<form method="POST" action="/transfer">
    <div class="row">
        <div class="two columns">
    <label for="from-acc">From Account</label>
    <select id="from-acc" name="from_account" required>{% include "widgets/account_selector.html" %}</select><br>
        </div>
        <div class="two columns">
    <label for="to-acc">To Account</label>
    <select id="to-acc" name="to_account" required>{% include "widgets/account_selector.html" %}</select><br>
        </div>
    </div>
    <div class="row">
        <div class="two columns">
    <label for="from-env">From Envelope</label>
    <select id="from_env" name="from_envelope" required>{% include "widgets/envelope_selector.html" %}</select><br>
        </div>
        <div class="two columns">
    <label for="to-env">To Envelope</label>
    <select id="to-env" name="to_envelope" required>{% include "widgets/envelope_selector.html" %}</select><br>
        </div>
    </div>
    <label for="value">Value</label>
    <input type="number" name="value" required><br>
    <input type="submit">
</select>
</form>
{% endblock %}
